{% extends 'core/base.html' %}
{% block conteudo %}
    {% include 'ponto/_cabecalho_usuario.html' with titulo_ponto='Relatórios do Ponto' %}
<div class="container mt-4">
    <h2>Relatório de Pontos</h2>
    <form method="GET" action="{% url 'exportar_ponto' %}" class="row g-3 mt-3">
        <div class="col-md-3">
            <label>Funcionário</label>
            <select name="nome" class="form-select">
                <option value="">Todos</option>
                {% for f in funcionarios %}
                <option value="{{ f.username }}">{{ f.first_name }} {{ f.last_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-3">
            <label>Data Início</label>
            <input type="date" name="data_inicio" class="form-control">
        </div>
        <div class="col-md-3">
            <label>Data Fim</label>
            <input type="date" name="data_fim" class="form-control">
        </div>
        <div class="col-md-3 align-self-end">
            <button type="submit" class="btn btn-primary">Gerar Excel</button>
        </div>
    </form>
</div>
{% endblock conteudo %}